*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* height: 3000px; */
    font-family: fontbody;
    font-style: normal;
 }
html{
    --secColor:rgba(255, 255, 255, 0.7);
    --mainColor:#f4623a;
    --servicecolor : #6c757d;
}
@font-face{
    src: url(../Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
    font-family: fontbody;
}
.container{
    margin: auto;
    width: 80%;
}
.navbar .container{
    overflow: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    margin-top: 20px;
}
.logo{
    float: left;
    width: 35%;
    text-transform: capitalize;
    color:var(--secColor);
    font-size: 22px;
}
.nav{
    float: left;
    width: 65%;
    text-align: right;
    /* font-size: 20px; */
}
@media (max-width: 575.98px) { 
    .logo,.nav{
        width: 100%;
        text-align: center;
    }
    .logo{
        margin-bottom: 20px;
    }
 }
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .logo,.nav{
        width: 100%;
        text-align: center;
    }
    .logo{
        margin-bottom: 20px;
    }
  }
.nav .list{
    list-style: none;
}
.link-nav{
    text-decoration: none;
    color:var(--secColor);
    text-transform: capitalize;
    margin-right: 15px;
}
.list-item{
    display: inline-block;
}
.header-content{
    height: 100vh;
    background-image: url('../img/bg-masthead.jpg');
    background-size: cover;
    background-position: 0  -121px;
}
.header-content-items{
    text-align: center;
    padding-top: 170px;
}
@media (max-width: 575.98px) {  
    .header-content-items{
        padding-top: 100px;
    } 
}
@media (min-width: 576px) and (max-width: 767.98px) {  
    .header-content-items{
        padding-top: 100px;
    }  
}
.main-title{
    color: #fff;
    text-transform: capitalize;
    font-size: 55px;
    width: 50%;
    margin: auto;
}
@media (max-width: 575.98px) {  
    .main-title{
        font-size: 30px;
        width: 100%;
        margin-top: 100px;
    } 
}
@media (min-width: 576px) and (max-width: 767.98px) {  
    .main-title{
        font-size: 30px;
        width: 100%;
        margin-top: 100px;
    }  
}
.line{
    background-color: var(--mainColor);
    height: 4px;
    width: 50px;
    display: block;
    margin: 20px auto;
}
.main-description{
    color: var(--secColor);
    width: 55%;
    margin: auto;
    font-size: 22px;

}
@media (max-width: 575.98px) {  
    .main-description{
        width: 100%;
        margin-top: 70px;
    } 
}
@media (min-width: 576px) and (max-width: 767.98px) {  
    .main-description{
        width: 100%;
        margin-top: 70px;
    }  
}
.link{
   background-color:var(--mainColor);
   width:fit-content;
   display: block;
   padding: 20px 25px;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   margin:60px auto;
   border-radius: 39px;
  
}
.header .overlay{
   background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
   height: 100%;

}
/* end header */

/* start about */
.about{
    background-color: var(--mainColor);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center; 
}
.about-heading{
    color: #fff;
}
.about .line{
    background-color: #fff;
}
.about-description{
    color: var(--secColor);
    width: 60%;
    margin: auto;
    font-size:20px;
}
.about .link,.download .link{
    background-color: #fff;
    color: #000;
    margin-top: 30px;
}
/* end about */

/* start services */
.services{
 padding-top: 100px;
 text-align: center;
 padding-bottom: 100px;
}
.services-heading{
    text-transform: capitalize;
}
.services-items{
    /* padding-top: 50px;
    padding-bottom: 100px; */
    overflow: auto;
    margin-top: 100px;
}
.service-item{
    width: 25%;
    float: left;
}
@media (max-width: 575.98px) {  
    .service-item{
        width: 100%;
        margin-bottom: 20px;
    } 
}
@media (min-width: 576px) and (max-width: 767.98px) {  
    .service-item{
        width: 50%;
        margin-bottom: 20px;
    }  
}

.service-item .fas{
    color: var(--mainColor);
    font-size: 40px;
}
.service-item .far{
    color: var(--mainColor);
    font-size: 40px;
}
.service-title{
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 20px;
}
.service-description{
    color:var(--servicecolor);
   margin:10px auto;
   width: 80%;
   /* font-size: 20px; */
}
/* end services */

/* start portfolio */
.portfolio-items{
    overflow: hidden;
}

 .portfolio-item{
     float: left;
     width: 33.33%;
     position: relative;
 }
 @media (max-width: 575.98px) {  
     .portfolio-item{
        width: 100%;
    }
 }
 @media (min-width: 576px) and (max-width: 767.98px) {  
    .portfolio-item{
        width: 50%;
    }
 }
 .portfolio .overlay{
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: var(--mainColor);
     opacity: 0;
     cursor: pointer;
 }
 .portfolio img{
     display: block;
 }
 .overlay-content{
     text-align: center;
     padding-top: 149px;
 }
 .portfolio-main{
     color: var(--secColor);
     font-size: 15px;
     text-transform: uppercase;
 }
 .portfolio-second{
     color:#fff;
     font-size: 20px;
     text-transform: capitalize;
 }
 .portfolio-item:hover .overlay{
     opacity: .8;
 }
 /* end portfolio */
   .download{
       background-color: #343a40;
       padding-top: 100px;
       padding-bottom: 100px;
       text-align: center;
   }
   .download-heading{
       text-transform: capitalize;
       color: #fff;
       font-size: 30px;
   }
  
 /* start download*/

 /* start cintact */
 .contact{
     padding-top: 100px;
     padding-bottom: 100px;
     text-align: center;
 }
 .contact-heading{
    text-align: center;
     text-transform: capitalize;
     color: #000;
 }
 .contact-description{
     color:var(--servicecolor);
     /* font-size: 20px; */
     width: 35%;
     margin: auto;
 }
 .contact-item .fas{
     color: var(--servicecolor);
     display: block;
     font-size: 40px;
     margin-bottom: 10px;
 }
 .contact-items{
     overflow: hidden;
     width: 50%;
     margin: auto;
     margin-top: 20px;
 }
 .contact-item{
     float: left;
     width: 50%;
     text-align: center;
     
 }
 @media (max-width: 575.98px) {  
    .contact-item{
       width: 100%;
       float: none;
       margin-bottom: 20px;
   }
}

 .contact-item .contact{
     color: var(--mainColor);
 }
 .contact-info{
     font-size: 20px;
 }
 /* end contact */


 /* start footer */
 .footer{
     margin-top: 80px;
     padding: 53px;
     text-align: center;
     color: var(--servicecolor);
     background-color: #f8f9fa;
 }
 @media (max-width: 575.98px) {  
 .section{
     padding-top: 0;
 }
 }

 



